---
layout: default
---

{% include home-header.html %}

<h1>A Short Bio</h1>

{%- assign taxonomies = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}

Azat Azamat received his B.S. in Computer Science from <a href="https://nu.edu.kz/">Nazarbayev University</a>, Kazakhstan.
Currently, he is studying for a M.S. in Computer Science & Engineering at <a href="https://www.unist.ac.kr/">UNIST</a>, Republic of Korea.
In 2020, he joined <a href="https://iccl.unist.ac.kr/">Intelligent Computing & Codesign Lab (ICCL)</a> and started his work under the supervision of Prof. <a href="https://ecl.unist.ac.kr/~jlee/">Jongeun Lee</a>.
At ICCL in UNIST, they are mainly concerned with the problems of optimizing system performance and power at the intersection of software and hardware.
Azat's current research interest include DNN hardware accelerators and efficient deep learning.
